<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Document</title>
</head>
<body>
    <h1 class="h2">Registro</h1>
    <main>
        <div class="form_class">
          <table>
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Cédula</th>
              <th>Teléfono</th>
              <th>Hora de Llegada</th>
              <th>Hora de Salida</th>
            </tr>
            <tr>
              <td>Nombre 1</td>
              <td>Apellido 1</td>
              <td>123456789</td>
              <td>09:00 AM</td>
              <td>05:00 PM</td>
              <td>09:00 am</td>
              
            </tr>
            <tr>
              <td>Nombre 2</td>
              <td>Apellido 2</td>
              <td>987654321</td>
              <td>10:30 AM</td>
              <td>06:30 PM</td>
              <td>07:30 pm</td>
              
            </tr>
          </table>
          <td>
            <button class="boton_editar" type="button">Editar</button>
            <button class="boton_eliminar" type="button">Eliminar</button>
          </td>
          <button class="submit_class" type="button">Generar Reporte</button>
        </div>
      </main>
        <footer>
          <h1 class="p2">trattoria splendore</h1>
        </footer>
</body>
</html>
